fastapi[all] 
fastapi-mail
alt-profanity-check
argon2-cffi
sqlalchemy
rich
pytz
requests
fastapi_cdn_host
python-dateutil
uvicorn
pymysql
cryptography
pyotp
pyjwt[crypto]
fastapi-cache2
redis
pyyaml 
ua-parser 
user-agents
anonip
asyncmy 
asyncpg 
databases 
alembic
bcrypt